<main class="main-container">
    <h1 class="container-heading">Foody Travelers - Admin Panel</h1>

    <section class="content-section">
        <h2 class="section-heading text-center">Registered Users</h2>
        <div class="card-collection">
            <% usersData.forEach(oneUserData => {  %>
                <div class="user-card">
                    <div class="user-details-container">
                        <div class="user-data d-flex flex-column">
                            <h4 class="user-name"><%= oneUserData.firstName %> <%= oneUserData.lastName %></h4>
                            <h5 class="user-email"><%= oneUserData.email %> </h5>
                        </div>
                        <div class="user-role-section">
                            <form action="/admin/updateuser/<%= oneUserData._id %>?_method=PATCH" method="POST">
                                <select name="role" id="role-selector">
                                    <% for(let role of UserRoles){ %>
                                        <option value="<%=role%>" <%= oneUserData.role === role ? 'selected': '' %>><%=role%></option>
                                    <% } %>
                                </select>
                                <button class="btn-sm edit utility-btns mx-1">
                                    <p>Update </p><img src="https://img.icons8.com/fluency-systems-regular/25/undefined/upload--v1.png"/>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="user-options d-flex">
                        <div class="user-modal">
                            <button type="button" class="btn-sm search utility-btns mx-1" data-bs-toggle="modal" data-bs-target="#Modal<%=oneUserData._id%>">
                                <p>View </p><img src="https://img.icons8.com/ios/25/undefined/search--v1.png"/>
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="Modal<%=oneUserData._id%>" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="<%=oneUserData._id%>Label" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="<%=oneUserData._id%>Label"><%= oneUserData.firstName %> <%= oneUserData.lastName %></h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                    <div class=" d-flex flex-column">
                                        <label><strong>Eamil:</strong> <%= oneUserData.firstName %> <%= oneUserData.lastName %> </label>
                                        <label><strong>Age: </strong> <%= oneUserData.age %></label>
                                        <label><strong>DOB: </strong> <%= oneUserData.dob %></label>
                                        <label><strong>Phone: </strong><%= oneUserData.phone %></label>
                                        <label><strong>Address: </strong><%= oneUserData.street %>, <%= oneUserData.ward %> </label>
                                        <label><strong>City: </strong><%= oneUserData.city %> </label>
                                        <label><strong>State: </strong><%= oneUserData.state %> </label>
                                        <label><strong>Pin: </strong><%= oneUserData.pin %> </label>
                                        <label><strong>User Role: </strong><%= oneUserData.role %> </label>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>                    
                        <% if (oneUserData.role !== 'admin') { %>
                            <form method="POST" action="/admin/removeuser/<%=oneUserData._id%>?_method=DELETE">
                                <button class="btn-sm delete utility-btns mx-1">
                                    <p>Delete </p><img src="https://img.icons8.com/dotty/25/undefined/filled-trash.png"/>
                                </button>
                            </form>
                        <% } %>
                    </div>
                </div>
            <% }) %> 
        </div>
    </section>
    <section class="content-section">
        <h2 class="section-heading text-center">Tickets Booked</h2>
        <div class="card-collection">
            <% ticketsData.forEach(ticket => {  %>
                <div class="user-card">
                    <div class="user-data d-flex flex-column">
                        <h4 class="user-name"><%= ticket.state_Name %></h4>
                        <h5 class="user-email"><%= ticket.date_of_Booking %> </h5>
                    </div>
                    <div class="user-options d-flex">
                        <div class="user-modal">
                            <button type="button" class="btn-sm search utility-btns mx-1" data-bs-toggle="modal" data-bs-target="#Modal<%=ticket._id%>">
                                <img src="https://img.icons8.com/ios/25/undefined/search--v1.png"/>
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="Modal<%=ticket._id%>" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="<%=ticket._id%>Label" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="<%=ticket._id%>Label"><%= ticket.state_Name %></h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                    <div class=" d-flex flex-column">
                                        <label><strong>User Id:</strong> <%= ticket.user_Id %></label>
                                        <label><strong>User Name: </strong> <%= ticket.user_Name %></label>
                                        <label><strong>Tour Source: </strong> <%= ticket.tour_Source %></label>
                                        <label><strong>Base Fare: </strong><%= ticket.base_Fare %></label>
                                        <label><strong>Booking Date: </strong><%= ticket.date_of_Booking %></label>
                                        <label><strong>Journey Date: </strong><%= ticket.date_of_Journey %> </label>
                                        <label><strong>Passengers: </strong><%= ticket.no_of_persons %> </label>
                                        <label><strong>Passengers List: </strong><%= ticket.no_of_persons %> </label>
                                        <ul class="mx-4">
                                            <% ticket.passenger_details.forEach(passenger => {  %>
                                                <li>- <%=passenger.name%> | <%=passenger.age%> | <%=passenger.aadharId%> | <%=passenger.gender%> </li>
                                            <% }) %> 
                                        </ul>
                                        <label><strong>Food Price: </strong><%= ticket.food_Fare %> </label>
                                        <ul class="mx-4">
                                            <% ticket.food_Opted.forEach(food => {  %>
                                                <li>- <%=food.name%> | <%=food.Price%> | <%=food.Qty%> | <%=food.TotalCost%> </li>
                                            <% }) %> 
                                        </ul>
                                        <label><strong>Vehicle Type: </strong><%= ticket.vehicle_Type %> </label>
                                        <label><strong>Vehicle Fare: </strong><%= ticket.vehicle_Fare%> </label>
                                        <label><strong>Pickup State: </strong><%= ticket.pickup_State %> </label>
                                        <label><strong>Pickup City: </strong><%= ticket.pickup_City %> </label>
                                        <label><strong>Grand Fare: </strong><%= ticket.grand_Fare %> </label>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>
                        <form method="POST" action="/admin/removeticket/<%=ticket._id%>?_method=DELETE">
                        <button class="btn-sm delete utility-btns mx-1">
                            <img src="https://img.icons8.com/dotty/25/undefined/filled-trash.png"/>
                        </button>
                        </form>
                    </div>
                </div>
            <% }) %> 
        </div>
    </section>
</main>