<% layout('layouts/boilerplate')%>

<main class="myAccount">
    <!-- Mode Selector -->
    <h1 class="welcome-header">Welcome <strong><%= user.firstName %> </strong></h1>
    <div class="mode-selector d-flex w-100 justify-content-evenly">
        <div class="update bg-selected font-bold">
            <h5 class="mode-heading-update">My Account</h5>
        </div>
        <div class="journey">
            <h5 class="mode-heading-journey">My Journyes</h5>
        </div>
    </div>

    <!-- Update Details Section -->
    <section class="update-section">
        <div class="header-img">
            <img src="../../static/images/accounts/accountSettings.webp" alt="">
        </div>
        <div class="forms-section">
            <form action="" class="input-forms" id="update-form" method="POST">
                <div class="singleColumn text-center border-bottom border-2 mb-2">
                    <h3 class="form-heading-signup">Create a new account</h3>
                </div>
                <div class="doubleColumns singleColumn">
                    <div class="d-flex flex-column">
                        <label class="input-label" for="fName">First Name</label>
                        <input class="inputs" type="text" name="firstName" id="fName" value="<%=user.firstName%> ">
                    </div>
                    <div class="d-flex flex-column">
                        <label class="input-label" for="lName">Last Name</label>
                        <input class="inputs" type="text" name="lastName" id="lNname" value="<%=user.lastName%>">
                    </div>
                </div>
                <div class="singleColumn d-flex flex-column">
                    <label class="input-label" for="signup-email">Email</label>
                    <input class="inputs" type="text" name="email" id="signup-email" value="<%=user.email%>">
                </div>
                <div class="singleColumn d-flex flex-column">
                    <label class="input-label" for="mobile">Mobile Number</label>
                    <input class="inputs" type="text" name="phone" id="mobile" value="<%=user.phone%>">
                </div>
                <div class="singleColumn doubleColumns">
                    <div class="d-flex flex-column">
                        <label class="input-label" for="age">Age</label>
                        <input class="inputs" type="number" name="age" id="age" min="16" max="100" value="<%=user.age%>">
                    </div>
                    <div class="d-flex flex-column">
                        <label class="input-label" for="dob">Date Of Birth</label>
                        <input class="inputs" type="date" name="dob" id="dob" value="<%=user.dob%>">
                    </div>
                </div>
                <div class="singleColumn d-flex flex-column">
                    <label for="street" class="input-label">Street and Colony</label>
                    <input type="text" name="street" id="street" class="inputs" value="<%=user.street%>">
                </div>
                <div class="singleColumn doubleColumns">
                    <div class="d-flex flex-column">
                        <label for="ward" class="input-label">Ward</label>
                        <input type="text" name="ward" id="ward" class="inputs" value="<%=user.ward%>">
                    </div>
                    <div class="d-flex flex-column">
                        <label for="city" class="input-label">City</label>
                        <input type="text" name="city" id="city" class="inputs" value="<%=user.city%>">
                    </div>
                </div>
                <div class="singleColumn doubleColumn">
                    <div class="d-flex flex-column">
                        <label for="state" class="input-label">State</label>
                        <input type="text" name="state" id="state" class="inputs" value="<%=user.state%>">
                    </div>
                    <div class="d-flex flex-column">
                        <label for="pin" class="input-label">PIN Code</label>
                        <input type="number" name="pin" id="pin" class="inputs" minlength="6" maxlength="6" value="<%=user.pin%>">
                    </div>
                </div>
                <div class="singleColumn d-flex justify-content-between">
                    <button type="submit" class="btn btn-primary main-button-update" id="login-ac">Update Account</button>
                    <button type="button" class="btn btn-success" data-bs-toggle="modal"
                        data-bs-target="#updatePasswordModal" id="changePasswordBtn">
                        Change Password
                    </button>
                </div>
            </form>
            <!-- Update Password Modal -->
            <div class="modal fade" id="updatePasswordModal" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form action="" method="" class="change-password-form">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Update Password</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="d-flex flex-column">
                                    <label class="input-label" for="change-password">Your Current Password</label>
                                    <input class="inputs" type="password" name="OldPassword" id="change-password"
                                        placeholder="Enter your current password" autofocus>
                                </div>
                                <div class="d-flex flex-column">
                                    <label class="input-label" for="new-password">Your Current Password</label>
                                    <input class="inputs" type="password" name="newPassword" id="new-password"
                                        placeholder="Enter your current password" autofocus>
                                </div>
                                <div class="d-flex flex-column">
                                    <label class="input-label" for="pas-confirm">Confirm Password</label>
                                    <input class="inputs" type="password" name="cNewPassword" id="pass-confirm"
                                        placeholder="Re-enter password" autofocus>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Delete Account Page -->
            <form action="" class="delete-form input-forms">
                <div class="singleColumn update-form text-center border-bottom border-2 mb-2">
                    <h3 class="text-danger">Delete Account</h3> 
                </div>
                <div class="singleColumn">
                    <p>This will permanenty delete you account and you can't recover the account again.
                        Are you sure you want to delete this account?
                    </p>
                    <button class="btn btn-danger mt-3 mx-auto" id="del-ac">Delete Account</button>    
                </div>
            </form>
        </div>
    </section>

    <!-- Tickets Section -->
    <section class="journey-section display-hide">
        <% tickets.forEach(ticket => { %> 
            <div class="ticket-section ticket-details">
                <div class="details-header">
                    <div class="details-header-left">
                        <p><strong>State Name : </strong> <span id="stateNameSpan"><%=ticket.state_Name%></span></p>
                        <p><strong>Tour Source : </strong> <span id="tourSourceSpan"><%=ticket.tour_Source %></span></p>
                        <p><strong>Total Fare : </strong><span id="baseFareSpan"> <%=ticket.grand_Fare %><span></p>
                        <p><strong>Tour Duration : </strong><span id="tourDurationSpan">Not Available<span></p>
                    </div>
                    <div class="details-header-right">
                        <p><strong>Pickup State : </strong> <span><%= ticket.pickup_State %> </span></p>
                        <p><strong>Pickup City : </strong> <span><%= ticket.pickup_City %> </span></p>
                        <p><strong>Pickup Address : </strong><span id="pickupAddressSpan"></span></p>
                    </div> 
                </div>
                <div class="details-data">
                    <div class="table-left">
                        <table class="data-table">
                            <tr>
                                <td class="data-left">Ticket Id :</td>
                                <td class="data-right" id="UserId">tkt<%= ticket._id%>as3</td>
                            </tr>
                            <tr>
                                <td class="data-left">User Name :</td>
                                <td class="data-right" id="UserName"><%=ticket.user_Name%></td>
                            </tr>
                            <tr>
                                <td class="data-left">Date Of Booking :</td>
                                <td class="data-right" id="dobSpan"><%= ticket.date_of_Booking %></td>
                            </tr>
                            <tr>
                                <td class="data-left">Vehicle Selected :</td>
                                <td class="data-right" id="vehicleType"><%= ticket.vehicle_Type %></td>
                            </tr>
                            <tr>
                                <td class="data-left">Vehicle Fare :</td>
                                <td class="data-right" id="vehicleFare"><%= ticket.vehicle_Fare %></td>
                            </tr>
                            <tr>
                                <td class="data-left">Date of Journey :</td>
                                <td class="data-right" id="doj"><%= ticket.date_of_Journey %></td>
                            </tr>
                            <tr>
                                <td class="data-left">Selected Food :</td>
                                <td class="data-right" id="totalFoodFare"><%= ticket.food_Fare %> </td>
                            </tr>
                        </table>
                    </div>
                    <div class="table-right">
                        <table class="data-table">
                            <tr>
                                <td class="data-left" id="passenger-left">Passenger List :</td>
                                <td class="data-right">
                                    <ul id="passengerList">
                                        <% ticket.passenger_details.forEach(passenger => { %>
                                            <li><%= passenger.name %> (<%= passenger.age %>) - <%= passenger.gender %>  </li>
                                        <% }) %> 
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td class="data-left" id="food-left">Food List :</td>
                                <td class="data-right">
                                    <ul id="foodList">
                                        <% ticket.food_Opted.forEach(food => { %>
                                            <li><%= food.name %> (<%= food.Price %>) </li>
                                        <% }) %> 
                                    </ul>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <form action="" method="" class="d-flex justify-content-center">
                    <button type="" class="btn btn-danger w-50 mt-4">Cancel Ticket</button>
                </form>
            </div>
        <% }); %> 
    </section>
</main>


<script src="/static/javascripts/accounts.js"></script>